<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: head">

</head>

<body class="container body-content">
<div th:replace="fragments :: attendanceModel"></div>


<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<table class="table" style="margin-top:80px">
    <tr>
        <th style="text-align:center;">Name</th>
    </tr>
    <tr th:each="Student1 : ${List3}">
        <td style="text-align:center;" th:text="${Student1.getStudent().studentName}"></td>
    </tr>
</table>
</div>
</body>
</html>
