<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/bootstrap.css}" href="../static/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/bootstrap.js}" href="../static/bootstrap.js" />

</head>
<body>
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>2014100000071</td>
        <td th:text="${test}">Rakib Hasan Sabbir</td>
        <td>22</td>
    </tr>
    <tr>
        <td>2014100000072</td>
        <td>Rakib Hasan khan</td>
        <td>22</td>
    </tr>
    <tr>
        <td>2014100000073</td>
        <td>Rakib Hasan tamim</td>
        <td>22</td>
    </tr>
</table>

<table>

</table>

</body>
</html>


